{% extends "base.html" %}

{% block content %}

<div>

    <h1>
        Liste des commentaires
    </h1>

    <ul>
        {%if comments_list %}
        {% for comment in comments_list %}

        <li>
            {{comment.content}}
        </li>


        {% endfor %}
        {% else %}
        {% empty %}
        <li> pas d'articles pour le moment</li>
        {% endif %}
    </ul>

</div>

{% endblock %}