
{% extends "base.html" %}

{% block content %}

<div class="container-md">

    <ul>
    <li>
        Nombre d'articles : {{ num_articles }}
    </li>
     <li>
        Nombre de catégories : {{ num_categories }}
    </li>
    </ul>

        <div>
            <h2> Liste des articles </h2>

            <div class="row justify-content-start">

            {% for article in articles_list %}

                <div class="col-sm-4">
            <div class="card" style="margin-top: 20px">
  <img src="{{article.cover_image.url}}"  class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{article.title}}</h5>
    <p class="card-text" style="height: 10rem" > {% lorem 10 w random %}</p>
      <a class="btn btn-primary" href="{% url 'article-detail' article.slug %}">Link Button</a>

  </div>
</div>
                        </div>

                {% endfor %}

            </div>
        </div>


</div>


{% endblock %}

